body {
  display: flexbox;
  background-color: white;
}

img {
  max-width: 100%;
  max-height: 300px;
}

.flex-colum {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin: 20px;
  text-align: center;
}

.hero {
  display: flex;
  align-items: center;
  flex-direction: column;
  border: none;
  max-width: 300px;
  margin: 10px;
  box-shadow: 0px 0px 10px lightgray;
}

button {
  border: none;
  border-radius: 1px;
  padding: 10px 40px;
  background-color: gray;
  color: white;
  margin: auto;
  margin-bottom: 20px;
}
